<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well">
      <h4>Welcome to the WhatWhereWhen Event Guide Submission app!</h4>
      <p>This guide is a volunteer project organized by the Info-Bot team.</p>
      <p>Log in here to view or add events - you can also edit any events you have added.</p>
      <br/>

      <%= link_to "Log In with Facebook", facebook_login_path, class: "btn btn-info" %>
      <%= link_to "Log In with Google", google_login_path, class: "btn btn-info" %>
    </div>
  </div>

</div>
