<div class="row">

  <div class="col-md-6 col-sm-6">
    <% if t(:download_map_url).include?("http") %>
      <div class="well">
        <h3>
          The <%= "Lakes of Fire #{t(:year)} #{t(:event_name).upcase}" %> Map is ready!
          <%= link_to "Download", t(:download_map_url).html_safe, target: "_blank" %> a copy!
        </h3>
      </div>
    <% end %>

    <div class="well">
      <h4>Welcome to the WhatWhereWhen Event Guide Submission app!</h4>
      <p>This guide is a volunteer project organized by the Info_Bot team.</p>
      <p>Log in here to view submitted events occurring at Lakes of Fire - you can add your own or edit the events you've created!</p>
      <p>Please contact <a href="mailto:info@lakesoffire.org">info@lakesoffire.org</a> if you have any questions.</p>
      <br/>

      <p id="google-login-p">
        <%= link_to "Log In with Google", google_login_path, class: "btn btn-info" %>
      </p>

      <div id="inapp-message" style="display: none;">
        <div class="alert alert-warning">
          <strong>In-app browser detected.</strong>
          <p>
            It looks like you're using an in-app browser (like for Facebook or Instagram). For security reasons, Google login is disabled in this mode.
          </p>
          <p>
            To log in, please open this website in your phone's main browser (e.g., Chrome, Safari).
          </p>
        </div>
        <p>
          <%= link_to "Log In with Google", google_login_path %>
        </p>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/detect-inapp@1.4.0/lib/inapp.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const i = new InApp();
    if (i.isInApp) {
      document.getElementById('google-login-p').style.display = 'none';
      document.getElementById('inapp-message').style.display = 'block';
    }
  });
</script>
