<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="well"> 
      <h4>Please Log In</h4>

      <%= link_to "Log In with Facebook", facebook_login_path, class: "btn btn-info" %><br/><br/>
      <%= link_to "Log In with Google", google_login_path, class: "btn btn-info" %>
    </div>
  </div>

</div>