<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Ideas</h4></div>
      <div class="panel-body">
        <ul>
          <li>form on the left</li>
          <li>list of submitted events on the right sorted by day/time, showing submitters name and camp name (event name too?)</li>
          <li>links on existing events to edit them (some authentication before editing)</li>
      </div>
    </div>
  </div>
</div>

<% if false %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
      </div>
    </div>
  </div>
<% end %>

<div class="row">

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Add an Event</h4></div>
      <div class="panel-body">

        <div class="input-group text-center">
          <input type="text" class="form-control input-lg" placeholder="Enter your email address">
        </div>

      </div><!-- .panel-body -->
    </div> 
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h4>2015 Submitted Events</h4></div>

      <div class="panel-body">
        
      </div>

    </div>
  </div>

</div>
