<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Ideas</h4></div>
      <div class="panel-body">
        <ul>
          <li>form on the left</li>
          <li>list of submitted events on the right sorted by day/time, showing submitters name and camp name (event name too?)</li>
          <li>links on existing events to edit them (some authentication before editing)</li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12"><h2>Playground</h2></div>
  <div class="col-md-12">
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Buttons &amp; Labels</h4></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4"><a class="btn btn-default center-block" href="#">Button</a></div>
          <div class="col-xs-4"><a class="btn btn-primary center-block" href="#">Primary</a></div>
          <div class="col-xs-4"><a class="btn btn-danger center-block" href="#">Danger</a></div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4"><a class="btn btn-warning center-block" href="#">Warning</a></div>
          <div class="col-xs-4"><a class="btn btn-info center-block" href="#">Info</a></div>
          <div class="col-xs-4"><a class="btn btn-success center-block" href="#">Success</a></div>
        </div>
        <hr>
        <div class="btn-group btn-group-sm"><button class="btn btn-default">1</button><button class="btn btn-default">2</button><button class="btn btn-default">3</button></div>              
        <hr>
        <div class="row">
          <div class="col-md-4">
            <span class="label label-default">Label</span>
            <span class="label label-success">Success</span>

          </div>
          <div class="col-md-4">
            <span class="label label-warning">Warning</span>  
            <span class="label label-info">Info</span>
          </div>
          <div class="col-md-4">
            <span class="label label-danger">Danger</span>
            <span class="label label-primary">Primary</span>
          </div>
        </div>

      </div>
    </div> 
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Progress Bars</h4></div>
      <div class="panel-body">

        <div class="progress">
          <div class="progress-bar progress-bar-info" style="width: 20%"></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 40%"></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" style="width: 80%"></div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
        </div>

      </div>
    </div> 
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Tabs</h4></div>
      <div class="panel-body">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#A" data-toggle="tab">Section 1</a></li>
          <li><a href="#B" data-toggle="tab">Section 2</a></li>
          <li><a href="#C" data-toggle="tab">Section 3</a></li>
        </ul>
        <div class="tabbable">
          <div class="tab-content">
            <div class="tab-pane active" id="A">
              <div class="well well-sm">I'm in Section A.</div>
            </div>
            <div class="tab-pane" id="B">
              <div class="well well-sm">Howdy, I'm in Section B.</div>
            </div>
            <div class="tab-pane" id="C">
              <div class="well well-sm">I've decided that I like wells.</div>
            </div>
          </div>
        </div> <!-- /tabbable -->

        <div class="col-sm-12 text-center">
          <ul class="pagination center-block" style="display:inline-block;">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>

      </div>
    </div> 
  </div><!--playground-->

</div>
