/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= jquery-ui/autocomplete
 *= require jquery.timepicker
 *= xrequire bootstrap-datepicker3
 *= require_tree .
 *= require styles
 */

.has-feedback .form-control-feedback{
  top: 0;
}

#single_occurrance_event{
  margin-bottom: 10px;
}


.datepicker-days td.day{
  cursor: pointer;
}

.datepicker-days td.disabled.day{
  color: #ccc;
  cursor: not-allowed;
}

.navbar a.name:hover, .navbar a.name:active, .navbar a.name:focus{
  background-color: inherit;
  color: #428bca;
  cursor: default;
}

button.navbar-toggle{
  border-color: #ddd;
}

button.navbar-toggle .icon-bar{
  background-color: #aaa;
}

button.navbar-toggle:hover{
  border-color: #bbb;
}

button.navbar-toggle:hover .icon-bar{
  background-color: #555;
}

.mt-2{
  margin-top: 5px;
}

label {
  font-weight: 700;
}

.form-check label, .checkbox label {
  font-weight: 400;
  cursor: pointer;
}