/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require jquery.timepicker
 *= xrequire bootstrap-datepicker3
 *= require_tree .
 *= require styles
 */

.has-feedback .form-control-feedback{
  top: 0;
}

.event_time_inputs{
  margin-bottom: 10px;
}

.event_time_inputs input{
  display: inline;
  width: 30%;
}

.datepicker-days td.day{
  cursor: pointer;
}

.datepicker-days td.disabled.day{
  color: #ccc;
  cursor: not-allowed;
}