<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Lakes of Fire 2015 What Where When</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left">
              <div class="input-group" style="max-width:470px;">
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
           </ul>
        </div>
     </div> 
</nav>
