<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <strong>
        <%= link_to "Lakes of Fire #{t(:year)} #{t(:event_name).upcase} What Where When Guide", root_path, class: 'navbar-brand' %>
      </strong>
    </div>

    <div class="" id="navbar-collapse1">
      <!-- <form class="navbar-form pull-left">
        <div class="input-group" style="max-width:470px;">
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to "#{admin_badge(current_user)} #{current_user.name} ".html_safe, "#_", class: "name" %>
          </li>

          <li>
            <%= link_to "Camps", locations_path %>
          </li>

          <li>
            <%= link_to "Logout", logout_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
