<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <%= link_to "Lakes of Fire 2015 What Where When", root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <form class="navbar-form pull-left">
        <div class="input-group" style="max-width:470px;">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to "#{admin_badge(current_user)} #{current_user.name} ".html_safe, "#_" %>
          </li>
          <li>
            <%= link_to "Logout", logout_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div> 
</nav>
